@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400..900&family=Rancho&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.raleway {
  font-family: "Raleway", sans-serif;
}

.rancho {
  font-family: "Rancho", cursive;
}

body{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #1B1A1A;
}

h1, h2, h3, h4{
    color: #331A15;
}

header ul li a{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.bg-ns-gray{
    background-color: #F4F3F0;
}

.bg-ns-green{
    background-color: #1B3C35;
}
.bg-ns-pink-cherry{
    background-color: #E5032F;
}
.bg-ns-red-pinkish{
    background-color: #6E2038;
}
.bg-ns-light-pink{
    background-color: #CFA8CA;
}

.btn {
    @apply px-8 py-3 font-semibold rounded-3xl border-2 border-[#6E2038]
}
.btn-primary{
    @apply bg-ns-red-pinkish text-white hover:bg-transparent hover:text-[#6E2038]
}
.btn-outline{
    @apply  text-[#6E2038] hover:bg-[#6E2038] hover:text-white
}

